.menu2 ul{list-style-type: none; width: 200px}
.menu2 li{margin-bottom: 5px;}
.menu2 a:link, .menu2 a:visited{
	text-decoration: none;
	color: white;
	font: 13px Arial;
    background-color: #3c3c3c;
	border: 1px solid black;
	display: block;
	padding: 0px 5px;
	line-height: 30px;
}
.menu2 a:hover{
font-weight: bold;
background-color: white;
color: black;
}
