ul{list-style-type: none;
    margin: 0;
    padding-left: 20;
    margin-top: 30px;
    background: orange;
    height: 30px;
}
li{margin-right: 20px; float: left;}
a{
    text-decoration: none;
    background: orange;
    color: white;
    padding: 0px 5px;
    line-height: 30px;
    display: block;
}
a:hover{
    color: white;
    background-color: red;
    border-color: red;
}
